@import "colors";
@import "typography";

//Spacing 
$spacer: 2.5rem;
$spacer-10: $spacer * .25;  // 10px
$spacer-20: $spacer * .5;   // 20px
$spacer-40: $spacer;        // 40px
$spacer-60: $spacer * 1.5;  // 60px
$spacer-80: $spacer * 2;    // 80px
$spacer-100: $spacer * 2.5;  // 100px
