
// Clearfix Hack
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}


// Vertical Align
@mixin verticalAlign() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
