.no-scroll {
	overflow: hidden;
	position: relative;
	height: 100%;
}

.text {
    &-left {
        text-align: left;
    }

    &-right {
        text-align: right;
    }

    &-center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;        
    }
}